$ghFontColor : #ffffffe0

body
    margin: 0
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    letter-spacing: 2px
    line-height: 1.8
    background-color: #141414
    overflow: hidden

.App
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100dvw
    height: 100dvh
    gap: 50px


.input_container
    position: absolute
    width: fit-content
    scale: 1
    opacity: 1
    transition: scale .7s, opacity 1s

    &.mount
        scale: 10
        opacity: 0

    &.unmount
        scale: .1
        opacity: 0

.input_component
    position: relative
    z-index: 2

.ghUsername_input
    width: 340px
    height: 40px
    border: solid 1px white
    border-radius: 8px
    color: $ghFontColor
    background-color: rgb(32, 32, 32)
    font-size: 20px
    cursor: default
    transition: padding-left .3s

    &::placeholder
        text-align: center
        color: $ghFontColor
        font-size: 16px
    
    &:focus
        outline: none
        padding-left: 50px

        & ~ .sample
            left: -35px

        &::placeholder
            color: transparent

.clear_input
    position: absolute
    width: 40px
    height: 28px
    top: 8px
    right: 1px
    background: rgb(32, 32, 32)
    box-shadow: -5px 0px 10px 0px rgb(32, 32, 32)
    border: none
    color: $ghFontColor
    transition: color .2s

    &:hover
        color: #ffffffb9

    &:active
        color: #ffffff88

.error
    width: 100%
    padding: 10px 0px
    color: $ghFontColor
    text-align: center
    transform: translateY(-48px)
    transition: transform .3s
    
    &.display
        transform: translateY(0px)

.progress_comp
    position: absolute
    top: 50px
    left: 45%
    color: rgb(199, 199, 199)

.sample
    position: absolute
    left: -55px
    bottom: 70px
    color: whitesmoke
    white-space: nowrap
    opacity: .4
    transition: left .3s


//Media queries

@media (max-width: 420px)
    .input_container
        width: 100%
        display: flex
        align-items: center
        flex-direction: column
        box-sizing: border-box

    .input_component
        min-width: 80%
 
    .ghUsername_input
        width: 100%
        box-sizing: border-box
        &:focus
            padding-left: 20px

            & ~ .sample
                left: 0

    .sample
        left: 0
        text-align: center
        white-space: normal