$ghFontColor : #ffffffe0

@mixin flex-column
    display: flex
    flex-direction: column

.usercard_container
    position: relative
    @include flex-column
    border: solid 2px whitesmoke
    border-radius: 10px
    width: 720px
    height: 90dvh
    padding: 20px 20px 0
    gap: 20px
    box-sizing: border-box
    text-transform: uppercase
    text-shadow: 0 0 6px white
    color: $ghFontColor
    overflow: hidden
    scale: 10
    opacity: 0
    
    &.mount
        scale: 1
        opacity: 1
        transition: scale .7s, opacity 1.2s

    &.unmount
        scale: .1
        opacity: 0
        transition: scale 1s, opacity .7s

.details_section
    padding: 20px
    background-color: rgba(36, 36, 36, 0.3)
    border-radius: 8px

.detail_section_1
    display: flex

.avatar_container
    @include flex-column
    flex: 1
    padding: 20px 10px
    overflow: hidden

.avatar_img_container
    width: 108px
    place-self: center
    border-radius: 100px
    overflow: hidden

.avatar_image
    width: 100px
    height: 100px
    border-radius: 100px
    object-fit: cover

.basic_details
    @include flex-column
    justify-content: space-around
    flex: 2
    padding: 10px
    gap: 10px
    white-space: nowrap

    span
        display: flex
        align-items: center
        gap: 10px

    span:nth-child(2)
        color: #ffffff98
        font-size: 12px

.gh_bio
    padding: 20px
    word-wrap: break-word

.detail_section_2
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 10px 20px
    text-align: center


.repos_section
    @include flex-column
    overflow-y: scroll
    border: solid 1px grey
    border-radius: 10px
    padding: 20px
    gap: 32px

.repo_container
    display: flex
    width: inherit
    flex-direction: column
    gap: 30px

.repo
    height: fit-content
    border: solid 1px grey
    padding: 10px 20px
    color: $ghFontColor !important
    overflow: visible

    &:hover
        background-color: rgba(31, 31, 31, 0.5)
        transition: .2s

.repo_summary
    display: flex
    width: 100%
    white-space: nowrap

.repo_name
    flex: 2
    overflow: hidden
    text-overflow: ellipsis

.repo_main_lang
    flex: 1
    text-align: center
    background: none

    &.orange
        color: #E34C26
        text-shadow: 0 0 10px #E34C26
    &.blue
        color: #848cff
        text-shadow: 0 0 10px #848cff
    &.yellow
        color: #fff188
        text-shadow: 0 0 10px #fff188
    &.green
        color: #31c68d
        text-shadow: 0 0 10px #31c68d
    &.pink
        color: #ffaed8
        text-shadow: 0 0 10px #ffaed8
    
.accordion_expand_btn
    color: whitesmoke
    padding: 10px
    
.repo_details
    @include flex-column
    gap: 10px
    cursor: default
    word-wrap: break-word
    
    p
        text-transform: none

    a
        color: #8b42cf
        text-decoration: none

        &:visited
            color:  #8b42cf

a
    text-shadow: 0 0 0 #8b42cf

.more_repo_container
    place-self: center

.more_repo_btn
    background: none
    border: none
    @include flex-column
    align-items: center
    color: $ghFontColor
    transition: color .3s

    span
        transform: translateY(4px)
        opacity: 0
        transition: transform .2s, opacity .2s

    &:hover
        cursor: pointer

        span
            transform: translateY(-4px)
            opacity: 1

        .expand_btn
            transform: translateY(4px)

    &:active
        color: #ffffff86

    &:disabled
        color: #838383e0
        
.expand_btn
    transform: translateY(-4px)
    transition: transform .2s !important

.closebtn_container:hover .closebtn_txt
    opacity: 1
    transform: translateX(0)

.closebtn_txt
    position: absolute
    top: 0
    right: 70px
    font-size: 11px
    cursor: default
    transform: translateX(60px)
    opacity: 0
    transition: .3s

.close_btn
    position: absolute
    top: 10px
    right: 10px
    width: 50px
    height: 40px
    border-top: solid 2px $ghFontColor
    border-right: solid 2px $ghFontColor
    border-left: none
    border-bottom: none
    border-top-right-radius: 4px
    background: none
    transition: .1s

    &:hover
        transform: scale(1.1)
        border-color: white

    &:active
        scale: 1
        border-color: $ghFontColor

//scrollbar
.repos_section
    &::-webkit-scrollbar
        width: 8px

    &::-webkit-scrollbar-thumb
        height: 56px
        border-radius: 8px
        border: 2px solid white
        background-clip: content-box
        background-color: transparent


//Media queries

@media (max-width: 420px)
    .usercard_container
        width: 90%
        font-size: 12px
        padding: 14px 10px 0

    .details_section
        padding: 0

    .detail_section_1
        gap: 10px
    
    .avatar_container
        justify-content: center
        padding: 0

    .avatar_img_container
        width: fit-content

    .avatar_image
        width: 70px
        height: 70px

    .basic_details
        gap: 6px
        padding: 4px 10px

        span:nth-child(2)
            font-size: 11px

    .gh_bio
        padding: 10px 10px
    
    .detail_section_2
        line-height: 2.5
        padding: 0

        span
            flex: 1 0 50%

    .repos_section
        padding: 12px 10px
        gap: 20px

    .repo_container
        gap: 20px

    .repo
        padding: 0

    .repo_summary
        flex-direction: column
        gap: 4px
        padding: 0

    .repo_name, .repo_main_lang
        width: 100%
        text-overflow: ellipsis
        text-align: start
        padding: 0 10px

    .repo_details
        padding-top: 0 !important

        p
            margin-top: 0

    .more_repo_btn
        span
            display: none

        &:hover .expand_btn
            transform: none

    .expand_btn
        transform: none

    .closebtn_txt
        opacity: 1
        right: 60px
        transform: none
        font-size: 8px

    .close_btn
        top: 5px
        right: 5px

        &:hover
            transform: none